<div id="open-chat-{{ .ChatId }}"
    sse-swap="{{ .ChatCloseEvent }}"
    hx-swap="outerHTML" 
    class="default-transition flex flex-col p-2 pb-4 gap-y-2"
>
    <div class="chat-header flex flex-row justify-end">
        <div class="open-chat-name flex font-bold">
            {{ .Name }}
        </div>
        <div class="flex flex-row">
            <form id="chat-delete-{{ .ChatId }}-2"
                class="flex"
                title="delete chat ${{ .Name }}"
                hx-post="/chat/delete" 
                hx-trigger="click" 
                hx-target="#chat-head-{{ .ChatId }}"
                hx-swap="innerHTML" 
                hx-include="#chat-delete-{{ .ChatId }}"
            >
                <input type="hidden" name="chatid" value="{{ .ChatId }}">
                <div hx-trigger="click" 
                    hx-action="chat-delete-{{ .ChatId }}.submit()"
                    class="chat-header-delete hover:text-red-700"
                >
                    <sub title="delete chat">[delete]</sub>
                </div>
            </form>

            <form id="chat-close-{{ .ChatId }}"
                title="close chat {{ .Name }}"
                hx-post="/chat/close" 
                hx-trigger="click" 
                hx-target="#open-chat-{{ .ChatId }}"
                hx-swap="innerHTML" 
                hx-include="#chat-close-{{ .ChatId }}"
            >
                <input type="hidden" name="chatid" value="{{ .ChatId }}">
                <div hx-trigger="click" 
                    hx-action="chat-close-{{ .ChatId }}.submit()"
                    class="chat-header-close hover:text-red-700">
                    <sub title="close chat">[close]</sub>
                </div>
            </form>
        </div>
    </div>
    <div class="open-chat-users 
        flex flex-row justify-between 
        p-1
        border-b-4 border-zinc-700 rounded-lg
        shadow shadow-zinc-800">
        <div class="member-list flex flex-row">
            <span>Members: </span>&nbsp;
            {{ template "membersList" . }}
        </div> 
        {{ if eq .Owner.Id .User.Id }}
            <form id="inviteUserToChatForm"
                method="POST" 
                hx-target=".member-list" 
                hx-post="/user/invite" 
                hx-trigger="submit" 
                hx-swap="beforeend"
                class="flex-row flex-shrink border-2 rounded border-emerald-400"
            >
                <input type="hidden" name="chatId" value="{{ .ChatId }}">
                <input id="inviteUser" type="text" name="invitee" placeholder="invite user" title="enter to send"
                    class="w-full
                        text-center
                        rounded-md
                        bg-gradient-to-br from-indigo-800 to-green-800
                        text-gray-400
                        shadow shadow-zinc-700
                        hover:shadow-lg hover:shadow-zinc-500">
                <button type="submit" class="hidden">Send Invite</button>
            </form>
            <script>
                document.body.addEventListener('htmx:afterSwap', function (event) {
                    const invitedUsed = document.getElementById('inviteUser');
                    if (invitedUsed) {
                        invitedUsed.value = '';
                    }
                });
            </script>
        {{ end }}
    </div>
    <style>
        .chat-content::-webkit-scrollbar {
            width: .37rem;
        }
        .chat-content::-webkit-scrollbar-track {
            background: #4338ca;
            border-width: 2px;
            border-color: #3f3f46;
            border-radius: 4px;
            box-shadow: #3f3f46;
        }
        .chat-content::-webkit-scrollbar-thumb {
            background: #166534;
            border-width: 3px;
            border-color: #3f3f46;
            border-radius: 8px;
            box-shadow: #3f3f46;
        }
    </style>
    <div class="chat-content flex flex-col p-2 grow overflow-y-auto">
        {{ template "messageHistoryList" . }}
    </div>
    <div class="chat-footer flex flex-col">
        {{ template "sendMessageForm" . }}
    </div>
</div>

{{ define "messageHistoryList" }}
<ul hx-target=".message-list" 
    sse-swap="{{ .MessageAddEvent }}" 
    hx-swap="beforeend"
    class="message-list" 
>
    {{ with $chatMsgs := .Messages }}
        {{ range $index, $msg := $chatMsgs }} 
            {{ template "message_li.html" $msg }}
        {{ end }}
    {{ else }}
        <li id="noMsgs" sse-swap="{{ .MessageAddEvent }}" hx-swap="delete" hx-target="#noMsgs">
            No previous messages...
        </li>
    {{ end }}
</ul>
<script>
    function scrollToLastChild(parent) {
        const lastElement = parent.children[parent.children.length-1];
        lastElement?.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
        });
    }
    messageListObserver = null;
    messageListObserver = new MutationObserver(mutations => {
        mutations.forEach(mutation => {
            if (mutation.type === 'childList' || mutation.type === 'characterData') {
                scrollToLastChild(mutation.target);
            }
        });
    });
    msgList = null;
    msgList = document.querySelector(".message-list");
    if (msgList) {
        messageListObserverOptions = null;
        messageListObserverOptions = { childList: true, subtree: true, characterData: true };
        messageListObserver.observe(msgList, messageListObserverOptions);
    }
    scrollToLastChild(msgList);
</script>
{{ end }}

{{ define "sendMessageForm" }}
<form
    hx-post="/message" 
    hx-trigger="submit" 
    hx-target=".message-list" 
    hx-swap="beforeend"
    hx-include="[name='chatId'],[name='msg']"
    class="flex mt-auto border-2 rounded border-emerald-400"
>
    <input type="hidden" name="chatId" value="{{ .ChatId }}">
    <input id="newMsgText" type="text" name="msg" 
        placeholder="type message" 
        title="enter to send"
        class="w-full
        text-center
        rounded-md
        bg-gradient-to-br from-green-800 to-indigo-800
        text-gray-400
        shadow shadow-zinc-700
        hover:shadow-lg hover:shadow-zinc-500">
    <button type="submit" class="hidden">
        Send Message
    </button>
</form>
<script>
    document.body.addEventListener('htmx:afterSwap', event => {
        const newMsgText = document.getElementById('newMsgText');
        if (newMsgText) {
            newMsgText.value = '';
        }
    });
</script>
{{ end }}

{{ define "membersList" }}
{{ $top := . }}
{{ range $index, $user := .Users }}
    <div class="member" 
        id="chat-{{ $top.ChatId }}-user-{{ $user.Id }}" 
        sse-swap="{{ $top.ChatExpelEvent }},{{ $top.ChatLeaveEvent }}"
        hx-target="#chat-{{ $top.ChatId }}-user-{{ $user.Id }}"
        hx-swap="innerHTML"
    >
        {{ if eq $top.Viewer.Id $user.Id }}
            [<b title="this is you">{{ $user.Name }}</b>]
        {{ else if eq $top.Owner.Id $top.Viewer.Id }}
            <form id="member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}"
                title="expel {{ $user.Name }}"
                hx-post="/user/expel" 
                hx-trigger="click" 
                hx-target="#chat-{{ $top.ChatId }}-user-{{ $user.Id }}"
                hx-swap="innerHTML" 
                hx-include="#member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}"
            >
                <input type="hidden" name="chatid" value="{{ $top.ChatId }}">
                <input type="hidden" name="userid" value="{{ $user.Id }}">
                <button type="submit" class="member-delete-button hover:text-red-700">
                    [{{ $user.Name }}]
                </button>
            </form>
        {{ else }}
            [{{ $user.Name }}]
        {{ end }}
    </div>
{{ end }}
{{ end }}