<div sse-swap="{{ .ChatCloseEvent }}"
    hx-swap="outerHTML" 
    class="default-transition 
        h-full flex flex-col
        p-2 pb-4"
>
    <div class="chat-header flex flex-row justify-end">
        <div class="ticker open-chat-name flex font-bold">
            {{ .ChatName }}
        </div>
        <div class="flex flex-row">
            <form id="chat-delete-{{ .ChatId }}-2"
                class="flex"
                title="delete chat ${{ .ChatName }}"
                hx-post="/chat/delete" 
                hx-trigger="click" 
                hx-target="#chat-head-{{ .ChatId }}"
                hx-swap="innerHTML" 
                hx-include="#chat-delete-{{ .ChatId }}"
            >
                <input type="hidden" name="chatid" value="{{ .ChatId }}">
                <div hx-trigger="click" 
                    hx-action="chat-delete-{{ .ChatId }}.submit()"
                    class="chat-header-delete hover:text-amber-700"
                >
                    <sub title="delete chat">[delete]</sub>
                </div>
            </form>

            <form id="chat-close-{{ .ChatId }}"
                title="close chat {{ .ChatName }}"
                hx-post="/chat/close" 
                hx-trigger="click" 
                hx-target=".open-chat"
                hx-swap="innerHTML" 
                hx-include="#chat-close-{{ .ChatId }}"
            >
                <input type="hidden" name="chatid" value="{{ .ChatId }}">
                <div hx-trigger="click" 
                    hx-action="chat-close-{{ .ChatId }}.submit()"
                    class="chat-header-close hover:text-amber-700">
                    <sub title="close chat">[close]</sub>
                </div>
            </form>
        </div>
    </div>
    <div class="open-chat-users 
        flex flex-row justify-between 
        p-2
        border-b-4 border-zinc-700 rounded-lg
        shadow shadow-zinc-800"
    >
        <div class="member-list flex flex-row">
            <span>Members: </span>&nbsp;
            {{ $top := . }}
            {{ range $index, $user := .Users }}
                <div class="member" 
                    id="chat-{{ $top.ChatId }}-user-{{ $user.UserId }}" 
                >
                    {{ template "user_div.html" $user }}
                </div>
            {{ end }}
        </div> 
        {{ if eq .Owner.UserId .User.UserId }}
            <script>
                function clearUserSearchInput(element) {
                    const inviteUser = document.getElementById('inviteUser');
                    if (inviteUser) {
                        inviteUser.value = '';
                    }
                }
            </script>
            <form id="inviteUserToChatForm"
                method="POST" 
                hx-target=".member-list" 
                hx-post="/user/invite" 
                hx-trigger="submit" 
                hx-swap="beforeend"
                hx-after-swap="scrollToLastChild"
                class="flex-row flex-shrink border-2 rounded border-emerald-400"
            >
                <input type="hidden" name="chatid" value="{{ .ChatId }}">
                <input list="userList" id="inviteUser" name="invitee" 
                    hx-post="/user/search" 
                    hx-trigger="keyup delay:500ms" 
                    hx-target="#userList" 
                    hx-swap="innerHTML" 
                    class="w-full
                        text-center
                        rounded-md
                        bg-gradient-to-br from-indigo-800 to-green-800
                        text-gray-400
                        shadow shadow-zinc-700
                        hover:shadow-lg hover:shadow-zinc-500">
                <datalist id="userList">
                    <option value="none">Type to search users...</option>
                </datalist>
                <button type="submit" class="hidden">Send Invite</button>
            </form>
        {{ end }}
    </div>
    <div class="chat-content flex flex-col p-2 grow overflow-y-auto">
        {{ template "message_history_ul.html" . }}
    </div>
    <div class="chat-footer flex flex-col">
        {{ template "message_submit_div.html" . }}
    </div>
</div>