<li id="chat-{{ .ChatId }}-msg-{{ .MsgId }}"
    sse-swap="{{ .MessageDropEvent }}"
    hx-target="#chat-{{ .ChatId }}-msg-{{ .MsgId }}"
    hx-swap="innerHTML" 
    class="chat-message-li default-transition
        flex flex-row justify-between
        p-2
        m-2
        h-fit
        gap-1
        shadow
        {{ if eq .AuthorId .ViewerId }}
            ml-[17%]
            border-b-4 border-green-700 rounded-lg
            shadow shadow-green-800
        {{ else }}
            mr-[17%]
            border-b-4 border-indigo-700 rounded-lg
            shadow shadow-green-800
        {{ end }}
        hover:shadow-green-500
        hover:text-green-500">
    <div class="chat-message-content flex flex-row overflow-hidden">
        <div class="w-[1.5em] h-[1.5em] ml-0 mr-1">
            {{ template "avatar_div.html" .AuthorAvatar }}
        </div>
        <div class="mr-0">
            [{{ .AuthorName }}]
        </div>
        <div>&nbsp;</div>
        <div class="break-all">
            {{ .Text }}
        </div>
    </div>
    {{ if or (eq .AuthorId .ViewerId) (eq .OwnerId .ViewerId) }}
        <form id="delete-message"
            title="delete message from {{ .AuthorName }}"
            hx-post="/message/delete" 
            hx-trigger="click" 
            hx-swap="innerHTML" 
            hx-target="#chat-{{ .ChatId }}-msg-{{ .MsgId }}"
            class="flex ml-auto"
        >
            <input type="hidden" name="msgid" value="{{ .MsgId }}">
            <input type="hidden" name="chatid" value="{{ .ChatId }}">
                <sup title="delete this message" class="hover:text-amber-700">
                    [delete]
                </sup>
        </form>
    {{ end }}
</li>