<li id="chat-{{ .ChatId }}-msg-{{ .MsgId }}"
    sse-swap="{{ .MessageDropEvent }}"
    hx-target="#chat-{{ .ChatId }}-msg-{{ .MsgId }}"
    hx-swap="innerHTML" 
    class="chat-message-li default-transition
        flex flex-row justify-between
        p-2
        m-2
        h-fit
        gap-1
        shadow
        {{ if eq .Author .ActiveUser }}
            ml-[17%]
            border-b-4 border-green-700 rounded-lg
            shadow shadow-green-800
        {{ else }}
            mr-[17%]
            border-b-4 border-indigo-700 rounded-lg
            shadow shadow-green-800
        {{ end }}
        hover:shadow-green-500
        hover:text-green-500">
    <div class="chat-message-content flex flex-row overflow-hidden">
        <pre class="mr-0">[{{ .Author }}]</pre><pre>&nbsp;</pre>
        <div class="break-all">{{ .Text }}</div>
    </div>
    {{ if or (eq .Author .ActiveUser) (eq .Owner .ActiveUser) }}
        <form id="delete-message"
            title="delete message from {{ .Author }}"
            hx-post="/message/delete" 
            hx-trigger="click" 
            hx-swap="innerHTML" 
            hx-target="#chat-{{ .ChatId }}-msg-{{ .MsgId }}"
            hx-include=".chat-message-delete"
            class="flex ml-auto"
        >
            <input type="hidden" name="msgid" value="{{ .MsgId }}">
            <input type="hidden" name="chatid" value="{{ .ChatId }}">
            <div hx-trigger="click" 
                hx-action="chat-message-delete-{{ .MsgId }}.submit()"
                class="chat-message-delete hover:text-red-700"
            >
                <sub title="delete message">[delete]</sub>
            </div>
        </form>
    {{ end }}
</li>