# server listen port
PORT=8080
# sqlite database file path relative to project root
#   if not found, will be created
#   if exists - appropriate migrations will be attempted
SQLITE=chat.db
# smtp email server configuration
#   used to send email verification codes
SMTP_USER=foo@bar.com
SMTP_PASS=idk_worked_for_me
SMTP_HOST=blabla.com
SMTP_PORT=7878
# max number of items per cache instance
#  must be below hardcoded limit
CACHE_SIZE=1024
# dev use only
# allow unlimited api access - disable auth for actions
#   create mock users, chats and messages directly in db
ALLOW_UNSAFE_ACCESS=false
# dev use only
# create test users on start
#   multiple users can be inserted, assuming no PK/FK conflicts
TEST_USER=user:ABCDE;email:abcd@gmail.com;pass:123456
TEST_USER=user:NEW12;email:newt@gmail.com;pass:123456
# determines where to direct logs
#  by default logs are written to stdout
LOG_STDOUT=true
LOG_DIR=./log