<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body, html { height: 100%; margin: 0; padding: 0; }
        .container { display: flex; height: 95%; width: 90%; margin: auto; }
        .left-panel { width: 30%; }
        .right-panel { width: 70%; }
    </style>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <div class="container">
        <div class="left-panel" style="border: 2px solid green;">
            <div class="active-user">
                <p>Active user: {{ .ActiveUser }}</p>
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>

            <div>
                <ul>
                    {{ range .Chats }}
                    <li hx-get="/chat/{{.ID}}" hx-trigger="click" hx-target=".open-chat" hx-swap="innerHTML">
                        <p>{{ .Name }}</p>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <div>
                <form action="/chat" method="POST">
                    <input type="text" name="chatName" placeholder="Enter chat name...">
                    <button type="submit">Open new chat</button>
                </form>
            </div>
        </div>

        <div class="right-panel" style="border: 2px solid red;">
            <div class="open-chat">
                {{ with .OpenChat }}
                    {{ template "chat.html" . }}
                {{ else }}
                    Loading messages...
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>