<div id="info-card-{{ .UserId }}" 
    onkeydown="escFocus(event)"
    onfocusout="hideInfoCard()"
    class="absolute default-transition
        m-2
        rounded-lg
        border-b-4 border-green-500
        shadow shadow-green-500
        hover:shadow-indigo-700">
    <script>
    </script>
    <div id="info-card-{{ .UserId }}-avatar">
        {{ template "avatar_div.html" .UserAvatar }}
    </div>
    <div id="info-card-{{ .UserId }}-username">
        {{ .UserName }}
    </div>
    <div id="info-card-{{ .UserId }}-useremail">
        {{ .UserEmail }}
    </div>
    {{ if ne 0 (len .SharedChats) }}
    <div id="info-card-{{ .UserId }}-top-shared-chats">
        <ul>
        {{ range $index, $chat := .SharedChats }}
            {{ template "chat_li.html" $chat }}
        {{ end }}
        </ul>
    </div>
    {{ end }}
</div>