<div class="default-transition 
    h-full flex flex-col 
    p-2 pb-4">
    <div class="flex flex-row justify-end p-2 shadow">
        <div>
            Settings&nbsp;
        </div>
        <div id="closeSettingButton" 
            title="close settings" 
            hx-get="/settings/close" 
            hx-trigger="click" 
            hx-target=".open-chat" 
            hx-swap="innerHTML" 
            class="hover:text-amber-700">[close]</div>
    </div>

    <div id="user-settings" class="flex flex-col
        p-2
        shadow shadow-zinc-700">
        <div id="user-setting-profile" 
            class="flex flex-row p-2 shadow-lg">
            <div id="user-setting-avatar" class="flex flex-row mr-auto">
                <div id="user-setting-avatar-image" 
                    onclick="showAvatarEdit()" 
                    class="flex flex-row"
                >
                    <div id="settings-avatar-display">
                        {{ template "avatar_div.html" .Avatar }}
                    </div>
                    <sub class="hover:text-amber-700">[edit]</sub>
                </div>
                <form id="user-setting-avatar-select" 
                    hx-encoding="multipart/form-data" 
                    hx-post="/avatar/add"
                    hx-target="#settings-avatar-display"
                    hx-swap="innerHTML" 
                    hx-trigger="change"
                    hx-include="[name='avatar']"
                    onkeydown="escFocus(event)"
                    onfocusout="hideAvatarEdit()"
                    class="hidden" 
                >
                    <input id="user-setting-avatar-select-file" 
                        name="avatar"
                        type="file" 
                        class="bg-gradient-to-br from-green-800 to-indigo-800
                            text-gray-400
                            shadow shadow-zinc-700
                            hover:shadow-lg hover:shadow-zinc-500"
                    >
                    <progress id='progress' value='0' max='100'></progress>
                </form>
                <script>
                    // this makes edit avatar switch between desplay and edit
                    function showAvatarEdit() {
                        const name = document.querySelector('#user-setting-avatar-image');
                        name.classList.add('hidden');
                        const newName = document.querySelector('#user-setting-avatar-select');
                        newName.classList.remove('hidden');
                        newName.querySelector('input').focus();
                    }
                    function hideAvatarEdit() {
                        const name = document.querySelector('#user-setting-avatar-image');
                        name.classList.remove('hidden');
                        const newName = document.querySelector('#user-setting-avatar-select');
                        newName.classList.add('hidden');
                    }
                </script>
            </div>

            <div id="user-setting-name" class="flex flex-row ml-auto">
                <div id="user-current-name"
                    onclick="showNameEdit()"
                    class="flex flex-row"
                >
                    {{ template "user_div.html" . }}
                    <sub class="hover:text-amber-700">[edit]</sub>
                </div>
                <div id="user-updated-name" class="hidden">
                    <form title="change user name"
                        hx-post="/user/change" 
                        hx-trigger="submit" 
                        hx-swap="beforeend" 
                        hx-include="#new-user-name"
                        onsubmit="hideNameEdit()"
                        onfocusout="hideNameEdit()" 
                        onkeydown="escFocus(event)"
                    >
                        <input id="new-user-name"
                            name="new-user-name" 
                            placeholder="new_user_name"
                            type="text" 
                            autocomplete="username" 
                            class="justify-center text-center rounded-md 
                                bg-gradient-to-br from-green-800 to-indigo-800
                                text-gray-400
                                shadow shadow-green-700
                                hover:shadow-lg hover:shadow-zinc-500"
                        >
                        <button type="submit" class="hidden"></button>
                    </form>
                </div>
                <script>
                    // this makes edit username switch between desplay and edit
                    function showNameEdit() {
                        const name = document.querySelector('#user-current-name');
                        name.classList.add('hidden');
                        const newName = document.querySelector('#user-updated-name');
                        newName.classList.remove('hidden');
                        newName.querySelector('input').focus();
                    }
                    function hideNameEdit() {
                        const name = document.querySelector('#user-current-name');
                        name.classList.remove('hidden');
                        const newName = document.querySelector('#user-updated-name');
                        newName.classList.add('hidden');
                    }
                </script>
            </div>
        </div>
    </div>
</div>