<li id="chat-head-{{ .ChatId }}" 
    title="chat {{ .Name }}"
    sse-swap="{{ .ChatDropEvent }}"
    hx-target="#chat-head-{{ .ChatId }}" 
    hx-swap="innerHTML"
    class="chat-header 
        flex flex-row justify-between
        shadow
        hover:bg-gradient-to-br from-indigo-700 to-zinc-700
        hover:text-green-500">
    <div
        hx-trigger="click" 
        hx-get="/chat/{{.ChatId}}" 
        hx-target=".open-chat" 
        hx-swap="innerHTML"
        class="overflow-hidden"
    >
        <b>{{.Name}}</b> 
    </div>
    {{ if eq .Owner.Id .User.Id }}
        <form id="chat-delete-{{ .ChatId }}"
            title="delete chat ${{ .Name }}"
            hx-post="/chat/delete" 
            hx-trigger="click" 
            hx-target="#chat-head-{{ .ChatId }}"
            hx-swap="innerHTML" 
            hx-include="#chat-delete-{{ .ChatId }}"
        >
            <input type="hidden" name="chatid" value="{{ .ChatId }}">
            <div hx-trigger="click" 
                hx-action="chat-delete-{{ .ChatId }}.submit()"
                class="chat-header-delete hover:text-orange-500"
            >
                [delete]
            </div>
        </form>
    {{ else if eq .User .Viewer }}
        <form id="chat-leave-{{ .ChatId }}"
            title="leave chat {{ .Name }}"
            hx-post="/user/leave" 
            hx-trigger="click" 
            hx-target="#chat-head-{{ .ChatId }}"
            hx-swap="innerHTML" 
            hx-include="#chat-leave-{{ .ChatId }}"
        >
            <input type="hidden" name="chatid" value="{{ .ChatId }}">
            <div class="chat-header-leave" 
                hx-trigger="click" 
                hx-action="chat-leave-{{ .ChatId }}.submit()"
            >
                [leave]
            </div>
        </form>
    {{ end }}
</li>