<style>
    .open-chat-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .open-chat-users {
        margin: 0;
    }
    .invite-user {
        padding: 10px 0;
    }
    .invite-user input {
        padding: 10px;
        margin-right: 10px;
    }
    .invite-user button {
        padding: 10px 20px;
    }
    .open-chat-history {
        padding: 10px 0;
    }
    .message-list {
        list-style-type: none;
        padding: 0;
        overflow-y: auto;
        flex-grow: 1;
    }
    .message-list li {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .message-list li:hover {
        background-color: #f0f0f0;
    }
    .message-list li:last-child {
        border-bottom: none;
    }
    .message-list li p {
        margin: 0;
    }
    .message-list li p:first-child {
        font-weight: bold;
    }
    .open-chat-history {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        height: 70vh;
    }
    .open-chat-history form {
        display: flex;
        padding: 10px 0;
        margin-top: auto;
    }
    .open-chat-history input {
        width: 70%;
        padding: 10px;
        margin-right: 10px;
    }
    .open-chat-history button {
        padding: 10px 20px;
    }
</style>
<div 
    id="open-chat-{{ .ChatId }}"
    sse-swap="{{ .ChatCloseEvent }}"
    hx-target=".open-chat"
    hx-swap="innerHTML" 
>
</div>
<div class="open-chat-name shadow">
    <h2>chat {{ .Name }}</h2>
    <p class="open-chat-users">
        Users: {{ template "members_div" . }}
    </p>
    <form id="chat-close-{{ .ChatId }}"
        hx-post="/chat/close" 
        hx-trigger="click" 
        hx-target=".open-chat"
        hx-swap="innerHTML" 
        hx-include="#chat-close-{{ .ChatId }}"
    >
        <input type="hidden" name="chatid" value="{{ .ChatId }}">
        <div class="chat-header-close" 
            hx-trigger="click" 
            hx-action="chat-close-{{ .ChatId }}.submit()"
        >
        [close]
        </div>
    </form>
</div>
{{ if eq .Owner.Id .User.Id }}
<div class="invite-user shadow">
    <form method="POST" 
        hx-target=".member-list" 
        hx-post="/user/invite" 
        hx-trigger="submit" 
        hx-swap="beforeend"
    >
        <input type="hidden" name="chatId" value="{{ .ChatId }}">
        <input type="text" name="invitee" placeholder="...type invitee username here...">
        <button type="submit">Invite User</button>
    </form>
</div>
{{ end }}
<hr />
<div class="open-chat-history shadow">
    <ul class="message-list" 
        hx-target=".message-list" 
        sse-swap="{{ .MessageAddEvent }}" 
        hx-swap="beforeend"
    >
        {{ with $chatMsgs := .Messages }}
            {{ range $index, $msg := $chatMsgs }} 
                {{ template "message_li.html" $msg }}
            {{ end }}
        {{ else }}
            <li>No previous messages...</li>
        {{ end }}
    </ul>
    <form 
        hx-post="/message" 
        hx-trigger="submit" 
        hx-target=".message-list" 
        hx-swap="beforeend"
    >
        <input type="hidden" name="chatId" value="{{ .ChatId }}">
        <input type="text" name="msg" placeholder="...type message here...">
        <button type="submit">Send</button>
    </form>
</div>

{{ define "members_div" }}
<style>
    .member-list {
        display: flex;
        flex-wrap: wrap;
        transition: height 0.3s ease;
    }
</style>
<div class="member-list" >
    {{ $top := . }}
    {{ range $index, $user := .Users }}
        <div class="member" 
            id="chat-{{ $top.ChatId }}-user-{{ $user.Id }}" 
            sse-swap="{{ $top.ChatExpelEvent }}"
            hx-target="#chat-{{ $top.ChatId }}-user-{{ $user.Id }}"
            hx-swap="innerHTML"
        >
            {{ if eq $top.Owner.Id $user.Id }}
                [<b><i>{{$user.Name}}</i></b>]
            {{ else if eq $top.Owner.Id $top.Viewer.Id }}
                <form id="member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}"
                    hx-post="/user/expel" 
                    hx-trigger="click" 
                    hx-target="#chat-{{ $top.ChatId }}-user-{{ $user.Id }}"
                    hx-swap="innerHTML" 
                    hx-include="#member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}"
                >
                    <input type="hidden" name="chatid" value="{{ $top.ChatId }}">
                    <input type="hidden" name="userid" value="{{ $user.Id }}">
                    <div class="member-delete-button" 
                        hx-trigger="click" 
                        hx-action="member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}.submit()"
                    >
                        [{{$user.Name}}]
                    </div>
                </form>
            {{ else }}
                [{{$user.Name}}]
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}