<style>
    .member-list {
        display: flex;
        flex-wrap: wrap;
        transition: height 0.3s ease;
    }
</style>
<div class="member-list" >
    {{ $top := . }}
    {{ range $index, $user := .Users }}
        <div class="member" 
            id="chat-{{ $top.ChatId }}-user-{{ $user.Id }}" 
            sse-swap="chat-expel-{{ $top.ChatId }}-user-{{ $user.Id }}"
            hx-target="#chat-{{ $top.ChatId }}-user-{{ $user.Id }}"
            hx-swap="innerHTML"
        >
            {{ if eq $top.Owner.Id $user.Id }}
                [<b><i>{{$user.Name}}</i></b>]
            {{ else if eq $top.Owner.Id $top.Viewer.Id }}
                <form id="member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}"
                    hx-post="/user/expel" 
                    hx-trigger="click" 
                    hx-target="#chat-{{ $top.ChatId }}-user-{{ $user.Id }}"
                    hx-swap="innerHTML" 
                    hx-include="#member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}"
                >
                    <input type="hidden" name="chatid" value="{{ $top.ChatId }}">
                    <input type="hidden" name="userid" value="{{ $user.Id }}">
                    <div class="member-delete-button" 
                        hx-trigger="click" 
                        hx-action="member-delete-{{ $top.ChatId }}-user-{{ $user.Id }}.submit()"
                    >
                        [<b>{{$user.Name}}</b>]
                    </div>
                </form>
            {{ else }}
                [{{$user.Name}}]
            {{ end }}
        </div>
    {{ end }}
</div>