<style>
    .open-chat-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .open-chat-users {
        margin: 0;
    }
    .invite-user {
        padding: 10px 0;
    }
    .invite-user input {
        padding: 10px;
        margin-right: 10px;
    }
    .invite-user button {
        padding: 10px 20px;
    }
    .open-chat-history {
        padding: 10px 0;
    }
    .message-list {
        list-style-type: none;
        padding: 0;
        overflow-y: auto;
        flex-grow: 1;
    }
    .message-list li {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .message-list li:hover {
        background-color: #f0f0f0;
    }
    .message-list li:last-child {
        border-bottom: none;
    }
    .message-list li p {
        margin: 0;
    }
    .message-list li p:first-child {
        font-weight: bold;
    }
    .open-chat-history {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        height: 70vh;
    }
    .open-chat-history form {
        display: flex;
        padding: 10px 0;
        margin-top: auto;
    }
    .open-chat-history input {
        width: 70%;
        padding: 10px;
        margin-right: 10px;
    }
    .open-chat-history button {
        padding: 10px 20px;
    }
</style>
<div 
    id="open-chat-{{ .ChatID }}"
    sse-swap="chat-close-{{ .ChatID }}"
    hx-target="#open-chat-{{ .ChatID }}"
    hx-swap="outerHTML" 
>
</div>
<div class="open-chat-name">
    <h2>chat {{ .Name }}</h2>
    <p class="open-chat-users">Users: 
    {{ with $chatUsers := .Users }}
        {{ range $index, $user := $chatUsers }} 
            [{{$user}}]
        {{ end }}
    {{ end }}
    </p>
    <!-- <p>[close]</p> -->
    <form id="chat-close-{{ .ChatID }}"
        hx-post="/chat/close" 
        hx-trigger="click" 
        hx-target=".open-chat"
        hx-swap="innerHTML" 
        hx-include="#chat-close-{{ .ChatID }}"
    >
        <input type="hidden" name="chatid" value="{{ .ChatID }}">
        <div class="chat-header-delete" 
            hx-trigger="click" 
            hx-action="chat-close-{{ .ChatID }}.submit()"
        >
        [close]
        </div>
    </form>
</div>
{{ if eq .Owner .User }}
<div class="invite-user">
    <form method="POST" hx-target=".open-chat-users" hx-post="/chat/invite" hx-trigger="submit" hx-swap="beforeend">
        <input type="hidden" name="chatId" value="{{ .ChatID }}">
        <input type="text" name="invitee" placeholder="...type invitee username here...">
        <button type="submit">Invite User</button>
    </form>
</div>
{{ end }}
<hr />
<div class="open-chat-history">
    <ul class="message-list" 
        hx-target=".message-list" 
        sse-swap="msg-add-chat-{{ .ChatID }}" 
        hx-swap="beforeend"
    >
        {{ with $chatMsgs := .Messages }}
            {{ range $index, $msg := $chatMsgs }} 
                {{ template "message.html" $msg }}
            {{ end }}
        {{ else }}
            <li>No previous messages...</li>
        {{ end }}
    </ul>
    <form 
        hx-post="/message" 
        hx-trigger="submit" 
        hx-target=".message-list" 
        hx-swap="beforeend"
    >
        <input type="hidden" name="chatId" value="{{ .ChatID }}">
        <input type="text" name="msg" placeholder="...type message here...">
        <button type="submit">Send</button>
    </form>
</div>