<div class="open-chat-name" style="border: 2px solid blue;">
    <h2>chat {{ .Name }}</h2>
    <p>Users: 
        {{ with $chatUsers := .Users }}
            {{ range $index, $user := $chatUsers }} 
                {{ $user }}
            {{ end }}
        {{ end }}
    </p>
</div>

<div class="invite-user" style="border: 2px solid green;">
    <form method="POST" hx-post="/chat/invite" hx-trigger="submit">
        <input type="hidden" name="chatId" value="{{ .ID }}">
        <input type="text" name="invitee" placeholder="...type invitee username here...">
        <button type="submit">Invite</button>
    </form>
</div>

<hr />

<div class="open-chat-history" style="border: 2px solid gray;">
    <ul class="message-list" hx-sse="connect:/chat/poll swap:message" hx-trigger="load" hx-swap="beforeend">
        {{ with $chatMsgs := .Messages }}
            {{ range $index, $msg := $chatMsgs }} 
                {{ template "message.html" $msg }}
            {{ end }}
        {{ else }}
            <li>No messages yet</li>
        {{ end }}
    </ul>

    <form hx-post="/message" hx-trigger="submit" hx-target=".message-list" hx-swap="beforeend">
        <input type="hidden" name="chatId" value="{{ .ID }}">
        <input type="text" name="msg" placeholder="...type message here...">
        <button type="submit">Send</button>
    </form>
</div>