<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body, html { height: 100%; margin: 0; padding: 0; }
        .container { display: flex; height: 95%; width: 90%; margin: auto; }
        .left-panel { width: 30%; }
        .right-panel { width: 70%; }
    </style>
    <script src="/script/htmx.1.9.10.min.js"></script>
</head>
<body>
<div class="container">
    <div class="left-panel" style="border: 2px solid green;">
        <div class="active-user">
            <p>Active user: {{ .ActiveUser }}</p>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="chat-list">
            <ul class="chat-headers" hx-sse="connect:/chat/poll swap:chat" hx-trigger="load" hx-swap="beforeend">    
                {{ with $chats := .Chats }}
                    {{ range $index, $chat := $chats }} 
                        {{ template "chat_li.html" $chat }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="add-chat">
            <form hx-post="/chat" hx-trigger="submit" hx-target=".open-chat" hx-swap="innerHTML" >
                <input type="text" name="chatName" placeholder="Enter chat name...">
                <button type="submit">Open new chat</button>
            </form>
        </div>
    </div>

    <div class="right-panel" style="border: 2px solid red;">
        <div class="open-chat">
            {{ with .OpenTemplate }}
                <div class="open-chat-content" 
                    hx-get="/chat/{{ .ID }}" 
                    hx-trigger="load"
                    hx-target="this"
                    hx-swap="innerHTML">
                </div>
            {{ else }}
                    Open chat to see messages
            {{ end }}
        </div>
    </div>
</div>
</body>
</html>
