<li class="chat-message" id="msg-{{ .ID }}">
    <div class="chat-message">
        <strong>{{ .Author }}:</strong> {{ .Text }}
    </div>
    {{ if eq .Author .ActiveUser }}
        <form id="delete-message" 
            hx-post="/message/delete" 
            hx-trigger="click" 
            hx-swap="outerHTML" 
            hx-target="#msg-{{ .ID }}"
            hx-include="#chat-delete-{{ .ID }}"
        >
            <input type="hidden" name="msgid" value="{{ .ID }}">
            <div class="chat-message-delete" 
                hx-trigger="click" 
                hx-action="chat-delete-{{ .ID }}.submit()"
            >
                [delete]
            </div>
        </form>
    {{ end }}
</li>