<li class="chat-message" 
    id="chat-{{ .ChatID }}-msg-{{ .MsgID }}"
    
    >
    <div class="chat-message">
        <strong>{{ .Author }}:</strong> {{ .Text }}
    </div>
    {{ if eq .Author .ActiveUser }}
        <form id="delete-message" 
            hx-boost="true"
            hx-post="/message/delete" 
            hx-trigger="click" 
            hx-swap="outerHTML" 
            hx-target="chat-{{ .ChatID }}-msg-{{ .MsgID }}"
            hx-include="#chat-delete-{{ .MsgID }}"
        >
            <input type="hidden" name="msgid" value="{{ .MsgID }}">
            <div class="chat-message-delete" 
                hx-trigger="click" 
                hx-action="chat-delete-{{ .MsgID }}.submit()"
            >
                [delete]
            </div>
        </form>
    {{ end }}
</li>