<li id="chat-head-{{ .ChatId }}" 
    title="chat {{ .Name }}"
    sse-swap="{{ .ChatDropEvent }}"
    hx-target="#chat-head-{{ .ChatId }}" 
    hx-swap="innerHTML"
    class="chat-header
        flex flex-row h-7 justify-between
        items-center
        px-2
        shadow-md shadow-indigo-800
        {{ if eq .Owner.Id .User.Id }}
        border-b-2 border-blue-700 rounded-xl
        {{ else }}
        border-b-2 border-green-700 rounded-xl
        {{ end }}
        hover:text-green-500
        hover:shadow-green-800">
    <div
        hx-trigger="click" 
        hx-get="/chat/{{.ChatId}}" 
        hx-target=".open-chat" 
        hx-swap="innerHTML"
        class="flex flex-row 
            w-full 
            justify-between 
            overflow-hidden"
    >
        <div class="ticker flex whitespace-nowrap overflow-hidden">
            <b>{{.Name}}</b>
        </div>
    {{ if eq .Owner.Id .User.Id }}
        <form id="chat-delete-{{ .ChatId }}"
            class="flex other-info"
            title="delete chat ${{ .Name }}"
            hx-post="/chat/delete" 
            hx-trigger="click" 
            hx-target="#chat-head-{{ .ChatId }}"
            hx-swap="innerHTML" 
            hx-include="#chat-delete-{{ .ChatId }}"
        >
            <input type="hidden" name="chatid" value="{{ .ChatId }}">
            <div hx-trigger="click" 
                hx-action="chat-delete-{{ .ChatId }}.submit()"
                class="chat-header-delete hover:text-red-700"
            >
                <sub title="delete chat">[delete]</sub>
            </div>
        </form>
    {{ else if eq .User .Viewer }}
        <form id="chat-leave-{{ .ChatId }}"
            title="leave chat {{ .Name }}"
            hx-post="/user/leave" 
            hx-trigger="click" 
            hx-target="#chat-head-{{ .ChatId }}"
            hx-swap="innerHTML" 
            hx-include="#chat-leave-{{ .ChatId }}"
        >
            <input type="hidden" name="chatid" value="{{ .ChatId }}">
            <div class="chat-header-leave" 
                hx-trigger="click" 
                hx-action="chat-leave-{{ .ChatId }}.submit()"
            >
                <sub>[leave]</sub>
            </div>
        </form>
    {{ end }}
    </div>
</li>