<div id="auth" class="flex flex-col p-2 gap-y-4 justify-around">
    <div id="{{ .Login.Id }}" class="flex
    text-center
    rounded-md
    bg-gradient-to-br from-green-800 to-indigo-800
    text-gray-400
    shadow shadow-zinc-700
    hover:shadow-lg hover:shadow-zinc-500">
        {{ template "authForm" .Login }}
    </div>
    <div id="{{ .Signup.Id }}" class="flex
    text-center
    rounded-md
    bg-gradient-to-br from-green-800 to-indigo-800
    text-gray-400
    shadow shadow-zinc-700
    hover:shadow-lg hover:shadow-zinc-500">
        {{ template "authForm" .Signup }}
    </div>
</div>
<script>
    async function handleAuthResponse(response) {
        if (response.ok) {
            window.location.href = '/';
        } else {
            const data = await response.text()
            alert(`Login failed: ${response.statusText} ${response.status}\nError message: ${data}`);
        }
    }
    window.onload = function() {
        document.querySelector('#login form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            console.log('login data', formData)
            fetch('/login', { method: 'POST', body: formData })
                .then(handleAuthResponse)
                .catch(error => {
                    console.error("login error", error);

                });
        });
        document.querySelector('#signup form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            console.log('signup data', formData)
            fetch('/signup', { method: 'PUT', body: formData })
                .then(handleAuthResponse)
                .catch(error => {
                    console.error("signup error", error);
                });
        });
    };
</script>

{{ define "authForm" }}
<form class="flex flex-col w-full p-4 gap-y-4 shadow-lg rounded-lg">
    <label for="{{ .Id }}-user">
        User: <input type="text" name="{{ .Id }}-user" placeholder="username"
            autocomplete="current-username"
            class="text-center
                rounded-md
                bg-gradient-to-br from-green-800 to-indigo-800
                text-gray-400
                shadow shadow-zinc-700
                hover:shadow-lg hover:shadow-zinc-500">
    </label>
    <label for="{{ .Id }}-pass">
        Pass: <input type="password" name="{{ .Id }}-pass" placeholder="********"
            autocomplete="current-password"
            class="text-center
                rounded-md
                bg-gradient-to-br from-green-800 to-indigo-800
                text-gray-400
                shadow shadow-zinc-700
                hover:shadow-lg hover:shadow-zinc-500">
    </label>
    <button type="submit" class="shadow">
        {{ .Label }}
    </button>
</form>
{{ end }}